html, body {
  min-height: 100%;
  margin: 0px; 
  padding: 0px; 
  border: 0px;
}

a {
  text-decoration: none;
}

.main-header {
  background: #355295;
  padding: 5px;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
.main-header a {
  position: absolute;
  color: white;
  font-size: 2em;
  border: 1px solid #2F477B;
  border-radius: 4px;
  background: #3359A2;
  left: 20px;
  top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #373536;
  overflow-y: auto;
  transition: width 0.3s ease;
}
.main-nav a {
  display: block;
  background:  #373536;
  border-top: 1px solid #3B3B3B;
  border-bottom: 1px solid #2E2E2E;
  color: white;
  padding: 15px;
}
.main-nav a:hover, .main-nav a:focus {
  background: linear-gradient(#3B3B3B, #373536);
}
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 24px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.content {
  padding: 100px 20px 20px 20px;
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 20%;
}

#main-nav:target + .page-wrap {
  width: 80%;
}
#main-nav:target + .page-wrap .open-menu {
  display: none;
}
#main-nav:target + .page-wrap .close-menu {
  display: block;
}
#main-nav:target + .page-wrap .main-header {
  width: 80%;
  left: 20%;
}