html, body {
  min-height: 100%;
  margin: 0px; 
  padding: 0px; 
  border: 0px;
  font-family:Arial,Helvetica,sans-serif;
}

a {
  text-decoration: none;
}

.main-header {
  background: #355295;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.5s cubic-bezier(.91,.8,.54,1.39);
  height: 3em;
}
.main-header a {
  position: absolute;
  color: white;
  font-size: 1.6em;
  border: 1px solid #2F477B;
  border-radius: 4px;
  background: #3359A2;
  left: 0.2em;
  top: 0.2em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.5s cubic-bezier(.91,.8,.54,1.39);
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #373536;
  overflow-y: auto;
  transition: width 0.5s cubic-bezier(.91,.8,.54,1.39);
}
.main-nav a {
  display: block;
  background:  #373536;
  border-top: 1px solid #3B3B3B;
  border-bottom: 1px solid #2E2E2E;
  color: white;
  padding: 1em;
}
.main-nav a:hover, .main-nav a:focus {
  background: linear-gradient(#3B3B3B, #373536);
}
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 24px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.content {
  padding: 2.5em 1em 1em 1em;
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 20%;
}

#main-nav:target + .page-wrap {
  width: 80%;
}
#main-nav:target + .page-wrap .open-menu {
  display: none;
}
#main-nav:target + .page-wrap .close-menu {
  display: block;
}
#main-nav:target + .page-wrap .main-header {
  width: 80%;
  left: 20%;
}